<h1>DatePipe</h1>
<p>{{ today | date: 'fullDate' }}</p>
<router-outlet></router-outlet>

<h1>UpperCasePipe</h1>
<p>{{name | uppercase}}</p>

<h1>LowerCasePipe</h1>
<p>{{name | lowercase}}</p>

<h1>CurrencyPipe</h1>
<p>{{price | currency: 'USD'}}</p>

<h1>DecimalPipe</h1>
<p>{{price | number: '1.2-2'}}</p>

<h1>PercentPipe</h1>
<p>{{rating | percent: '2.2-2'}}</p>

<h1>JsonPipe</h1>
<pre>{{ object | json }}</pre>

<h1>AsyncPipe</h1>
<p>{{ promise | async }}</p>

<h1>Custom Pipe</h1>
<div *ngFor="let item of getObjectProperties()">
  <p>{{ item.key }}: {{ item.value | myCustomPipe  }} </p>
</div>

